body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container {
    background: white;
    padding: 30px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
}